* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.header {
  padding: 150px;
  text-align: center;
  background: linear-gradient(#b1e5f2, #4dd6f8);
  color: #272635;
}

.header h1 {
  font-size: 40px;
}

.navbar {
  overflow: hidden;
  background-color: #272635;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

.navbar a.right {
  float: right;
}

.navbar a.rightactive {
  float: right;
  background-color: #000000;
  color: white;
}

.navbar a:hover {
  background-color: #928dc7;
  color: black;
}

.navbar a.active {
  background-color: #000000;
  color: white;
}

.row {  
  display: -ms-flexbox; 
  display: flex;
  -ms-flex-wrap: wrap; 
  flex-wrap: wrap;
}

.side {
  -ms-flex: 30%; 
  flex: 30%;
  background-color: #cecece;
  padding: 50px;
}

.main {   
  -ms-flex: 70%; 
  flex: 70%;
  background-color: #ffffff;
  padding: 20px;
}

.fakeimg {
  background-color: #a6a6a8;
  width: 100%;
  padding: 20px;
}

.footer {
  padding: 20px;
  text-align: center;
  background: linear-gradient(#a6a6a8, rgb(112, 112, 119));
}

.button {
  border: none;
  color: #272635;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: #272635; 
  color: white; 
}

.button1:hover {
  background-color: #928dc7;
  color: black;
}

@media screen and (max-width: 700px) {
  .row {   
    flex-direction: column;
  }
}

@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}